body{
	margin: 0 !important;
	padding: 0 !important;
}

/* ================ Navigation ================ */

.main-nav{
	width: 100%;
}

.main-menu ul{
	position: relative;
	padding: 0 0;
}
.main-menu ul li{
	list-style: none;
}
.main-menu ul li:hover{
	background-color: #e7e7e7;
}
.main-menu ul li a{
	display: block;
}
.main-menu>ul>li{
	float: left;
	position: relative;
	line-height: 20px;
	padding: 15px 20px;
	margin: 0 2px;
	display: block;
}
.main-menu>ul>li:hover>ul{
	display: block;
}
.main-menu>ul>li>span{
	font-size: 10px;
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
	margin-left: 3px;
	color: #777;
}
.main-menu>ul>li>ul{
	left: 0 !important;
	top: 100% !important;
}
.main-menu>ul>li ul{
	position: absolute;
	display: none;
	width: 200px;
	top: 0;
    left: 100%;
	background-color: #f8f8f8;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    border-radius: 5px 5px;
	border: 1px solid;
	border-color: #e7e7e7;
	z-index: 50;
}
.main-menu>ul>li ul li{
	position: relative;
	padding: 15px;
}
.main-menu>ul>li ul li:hover>ul{
	display: block;
}
.main-menu>ul>li ul li span{
	font-size: 10px;
	float: right;
	margin-top: 4px;
	color: #777;
}

/* ================ Navigation End ================ */

.main-content{
	width: 100%;
	min-height: 450px;
}
.errorstring{
	color: #f00;
}
.errorstring li{
	color: #f00;
}
.inline-form{
	margin-right: 15px;
}


.footer{
	width: 100%;
	min-height: 150px;
	background-color: #d2d2d2;
	border-radius: 4px;
	padding: 15px;
}


/* =================== Others ===================== */
.navbar{
	margin-top: 10px;
}